@media (max-width:1800px){

    /* GALLERY */
    .text-hidden--small {
        max-width: 300px;
    }
    .text-hidden--big {
        max-width: 440px;
    }
    /* GALLERY */
}

@media (max-width:1500px){
    
    /* HEADER-SLIDER */
    .header-slider__inner {
        padding: 300px 0px 130px;
    }
    /* HEADER-SLIDER */
    
    /* GALLERY */
    .text-hidden--big {
        max-width: 360px;
    }
    .text-hidden--small {
        max-width: 250px;
    }
    .text-hidden__title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .text-hidden__text {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 20px;
    }
    .text-hidden__btn {
        font-size: 15px;
        padding: 8px 0px;
    }
    /* GALLERY */
}



@media (max-width:1199px){
    /* HEADER */
    .header__menu {
        margin-left: 40px;
    }
    .header__search-bar  {
        margin-right: 10px;
    }
    /* HEADER */


    /* SLOGAN */
    .slogan__inner {
        padding: 90px 0 116px; 
    }
    .casual-title {
        font-size: 34px;
        line-height: 61px;
    }
    /* SLOGAN */

    /* FEATURES */
    .features__inner {
        margin-bottom: 30px;
    }
    .features__box-item {
        margin-bottom: 80px;
    }
    /* FEATURES */


    /* PORTFOLIO-CAPTION */
    .portfolio-caption__inner {
        padding: 70px 0 90px;
    }
    /* PORTFOLIO-CAPTION */

    /* GALLERY */
    .text-hidden--big {
        max-width: 290px;
    }
    .text-hidden--small {
        max-width: 190px;
    }
    .gallery__column--first .text-hidden--small {
        max-width: 206px;
    }
    .text-hidden__title {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .text-hidden__text {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 11px;
    }
    .text-hidden__btn {
        font-size: 14px;
        padding: 7px 0px;
    }
    .gallery__column--second .text-hidden--small .text-hidden__title {
        font-size: 20px;
    }
    /* GALLERY */


    /* SERVICE-CAPTION */
    .service-caption__inner {
        padding: 100px 0 90px;
    }
    /* SERVICE-CAPTION */

    .projects__inner {
        padding-bottom: 100px;
    }

    /* CLIENT-SLIDER */
    .client-slider__inner {
        padding: 100px 0;
    }
    /* CLIENT-SLIDER */


    /* TEAM-CAPTION */
    .team-caption__inner {
        padding: 80px 0 68px;
    }
    .team-caption__title {
        font-size: 45px;
    }
    .team-caption__text {
        margin-top: 30px;
    }
    /* TEAM-CAPTION */

    /* EMAIL-FIELD */
    .email-field__inner {
        padding: 90px 0px 85px;
    }
    /* EMAIL-FIELD */


    /* Footer */
    .page {
        padding-bottom: 262px;
    }
    .footer {
        height: 263px;
    }
    .footer__inner {
        margin: 40px 0 42px;
    }
    .footer__text {
        margin: 27px 0 32px;
    }
    /* Footer */


}
@media (max-width:991px){
    /* HEADER */
    .header__menu {
        margin: 0 auto;
    }
    .header {
        padding: 40px 0 0px;
      }
    /* HEADER */


    /* HEADER-SLIDER */
    .header-slider__title-small {
        font-size: 80px;
        margin-bottom: -80px;
        line-height: 220px;
    }
    .header-slider__title-big {
        font-size: 210px;
    }
    .header-slider__inner {
        padding: 230px 0px 100px;
    }
    #carousel-main .owl-nav .owl-prev, #carousel-main .owl-nav .owl-next {
        top: -410px;
    }
    /* HEADER-SLIDER */


    /* SLOGAN */
    .slogan__inner {
        padding: 70px 0 95px; 
    }
    .casual-title {
        font-size: 32px;
        line-height: 52px;
    }
    /* SLOGAN */

    /* FEATURES */
    .features__box-item {
        margin-bottom: 60px;
    }
    .item-feature__title {
        margin-bottom: 20px;
    }
    /* FEATURES */

    /* ACHIEVEMENTS */
    .achievements__inner {
        padding: 65px 0 15px;
    }
    .achievements__box-img {
        margin-bottom: 14px;
    }
    .achievements__amount {
        font-size: 50px;
        margin-bottom: 7px;
    }
    .achievements__type {
        font-size: 18px; 
    }
    .achievements__item {
        margin-bottom: 55px; 
    }
    /* ACHIEVEMENTS */

    /* PORTFOLIO-CAPTION */
    .portfolio-caption__inner {
        padding: 55px 0 70px;
    }
    .casual-text {
        font-size: 15px;
        margin-top: 13px;
    }
    /* PORTFOLIO-CAPTION */


    /* TABS */
    .tabs .nav {
        padding-bottom:  55px;
    }
    /* TABS */


    /* GALLERY */
    .gallery__column {
        float: none;
    }
    .gallery__column--first {
        width: 60%;
        margin: 0 auto;
    }
    .gallery__column--second {
        width: 98%;
        margin: 0 auto;
    }
    .gallery__item {
        margin: 0 auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .gallery__column--first .gallery__item,
    .gallery__column--second .gallery__item:nth-child(2),
    .gallery__column--second .gallery__item:last-child {
        margin-right: 0px;
    }
    .gallery__column--second .gallery__item:first-child,
    .gallery__column--second .gallery__item:nth-child(2) {
        width: 49.335%;
    }
    .gallery__column--second .gallery__item:nth-child(3),
    .gallery__column--second .gallery__item:nth-child(5) {
        width: 34.34%;
    }
    .gallery__column--second .gallery__item:nth-child(4) {
        width: 28.65%;
    }
    .gallery__column--first .text-hidden--small,
    .text-hidden--big {
        max-width: 320px;
    }
    /* GALLERY */


    /* SERVICE-CAPTION */
    .service-caption__inner {
        padding: 70px 0 60px;
    }
    /* SERVICE-CAPTION */

    /* PROJECTS */
    .projects--red,
    .projects--purple,
    .projects--yellow {
        margin-right: 0px;
    }
    .projects--green,
    .projects--dark-blue,
    .projects--blue {
        margin-left: 0px;
    }
    .projects__inner {
        padding-bottom: 55px;
    }
    .projects__box {
        padding: 70px 0 42px;
    }
    /* PROJECTS */

    /* CLIENT-SLIDER */
    .client-slider__inner {
        padding: 70px 0;
    }
    .client-slider__title {
        font-size: 34px;
        margin-bottom: 25px;
    }
    .client-slider__text {
        margin-bottom: 60px;
    }
    #carousel-client .owl-dots {
        margin-top: 48px;
    }
    /* CLIENT-SLIDER */

    /* TEAM-CAPTION */
    .team-caption__inner {
        padding: 50px 0 55px;
    }
    .team-caption__text {
        margin-top: 15px;
    }
    /* TEAM-CAPTION */


    /* TEAM */
    .team__item {
        margin-bottom: 30px;
    }
    .team__inner{
        padding-bottom: 70px;
    }
    /* TEAM */

    /* EMAIL-FIELD */
    .email-field__inner {
        padding: 75px 0px 70px;
    }
    .email-field__title {
        font-size: 45px;
        margin-bottom: 15px;
    }
    .email-field__text {
        margin-bottom: 35px;
    }
    /* EMAIL-FIELD */

    /* Footer */
    .page {
        padding-bottom: 238px;
    }
    .footer {
        height: 239px;
    }
    .footer__inner {
        margin: 35px 0 37px;
    }
    .footer__text {
        margin: 20px 0 25px;
    }
    /* Footer */







}


@media (max-width:781px){
    .menu__link:after {
        bottom: -44px;
    }
}
@media (max-width:767px){

    /* HEADER */
    .header .row > div:nth-child(2) {
        order: 2;
    }
    .header__inner .row > div:nth-child(3) {
        margin-right: 73px;
    }
    .header__inner {
        padding-bottom: 0px;
    }
    .header.scrolled .header__inner {
        padding-bottom: 0px;
    }
    /* .header__burger span {
        position: absolute;
        width: 100%;
        left: 1px;
        color: #ffffff;
        font-size: 10px;
        bottom: 5px;
    } */
   /* Burger */
   .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    left: -16px;
    top: -32px;
    cursor: pointer;
    z-index: 3;
    margin-left: auto;
}
.header__burger:before,
.header__burger:after,
.header__burger span {
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.5s;
}
.header__burger:before {
    content: "";
    top: 0;
    transition: 0.6s;
}
.header__burger:after {
    content: "";
    bottom: 0;
}
.header__burger span {
    top: 9px;
}
.header__burger.open-menu span {
    opacity: 0;
}
.header__burger.open-menu:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.open-menu:after {
    transform: rotate(-45deg);
    bottom: 9px;
}
/* Burger */


.header__menu {
    display: block;
    position: fixed;
    top: 0px;
    background: #000000e8;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    left: -100%;
    transition: all 0.5s;
    padding: 160px 0 0;
    overflow: auto;
    max-width: 100%;
}
.header__menu.open-menu {
    left: 0;
    overflow: auto;
}
.header__menu .menu__list {
    flex-direction: column;
    display: block;
}
.header-box-text {
    position: relative;
    z-index: 2;
}
.header.open-menu .header__inner{
    border-bottom: 0px;
}
.header__menu .menu__list li a {
    display: block;
    font-size: 22px;
    padding: 15px;
}
.header {
    padding: 30px 0 0px;
  }
.menu__link:after {
	width: 0px;
}
.header .row > div:first-child,
.header .row > div:last-child {
    z-index: 2;
}
/* HEADER */

    /* HEADER-SLIDER */
    .header-slider__title-small {
        font-size: 65px;
        line-height: 150px;
    }
    .header-slider__title-big {
        font-size: 165px;
        line-height: 296px;
    }
    #carousel-main .owl-nav .owl-prev, #carousel-main .owl-nav .owl-next {
        top: -320px;
    }
    .header-slider__shadow {
        max-width: 605px;
        padding: 130px 0;
    }
    /* HEADER-SLIDER */

    /* SLOGAN */
    .slogan__inner {
        padding: 50px 0 70px; 
    }
    .casual-title {
        line-height: 45px;
    }
    /* SLOGAN */


    /* FEATURES */
    .features__inner {
        margin-bottom: 20px;
    }
    .features__box-item {
        margin-bottom: 45px;
    }
    .item-feature__title {
        margin-bottom: 15px;
    }
    /* FEATURES */

    /* ACHIEVEMENTS */
    .achievements__inner {
        padding: 55px 0 15px;
    }
    .achievements__box-img {
        margin-bottom: 12px;
    }
    .achievements__amount {
        font-size: 45px;
        margin-bottom: 5px;
    }
    .achievements__type {
        font-size: 17px; 
    }
    .achievements__item {
        margin-bottom: 45px; 
    }
    /* ACHIEVEMENTS */

    /* PORTFOLIO-CAPTION */
    .portfolio-caption__inner {
        padding: 50px 0 65px;
    }
    /* PORTFOLIO-CAPTION */


    /* TABS */
    .tabs .nav {
        padding-bottom:  55px;
    }
    .tabs .nav-pills .nav-item {
        margin-bottom: 10px;
    }
    .tabs .nav-pills .nav-item:nth-child(4) .nav-link {
        padding: 9px 37px 7px;
    }
    /* TABS */


    /* GALLERY */
    .gallery__column--first,
    .gallery__column--second {
        width: 70%;
    }
    .gallery__column {
        display: block;
    }
    .gallery__item {
        margin-right: 0px;
    }
    .gallery__column--second .gallery__item:first-child,
    .gallery__column--second .gallery__item:nth-child(2),
    .gallery__column--second .gallery__item:nth-child(3),
    .gallery__column--second .gallery__item:nth-child(5),
    .gallery__column--second .gallery__item:nth-child(4) {
        width: 100%;
    }
    .gallery__column--first .text-hidden--small,
    .text-hidden--big,
    .text-hidden--small {
        max-width: 370px;
    }
    .text-hidden__title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .text-hidden__text {
        font-size: 14px; 
        line-height: 22px;
        margin-bottom: 30px;
    }
    .text-hidden__btn {
        padding: 8px 0px;
    }
    .gallery__column--second .text-hidden--small .text-hidden__title {
        font-size: 22px;
    }
    /* GALLERY */


    /* SERVICE-CAPTION */
    .service-caption__inner {
        padding: 70px 0 60px;
    }
    /* SERVICE-CAPTION */


    /* PROJECTS */
    .projects__inner {
        padding-bottom: 45px;
    }
    .projects__box {
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 60px 0 35px;
    }
    .projects__title {
        margin-bottom: 22px;
    }
    .projects__text {
        margin-bottom: 25px;
    }
    /* PROJECTS */


     /* CLIENT-SLIDER */
     .client-slider__inner {
        padding: 55px 0;
    }
    .client-slider__title {
        font-size: 32px;
        margin-bottom: 17px;
    }
    .client-slider__text {
        margin-bottom: 45px;
        font-size: 15px;
    }
    #carousel-client .owl-dots {
        margin-top: 48px;
    }
    /* CLIENT-SLIDER */

    /* TEAM */
    .team__inner{
        padding-bottom: 55px;
    }
    .team__name-worker {
        margin: 18px 0 14px;
    }
    .team__about-worker {
        padding-bottom: 18px;
        margin-bottom: 16px;
    }
    .team__box-icon {
        padding-bottom: 19px;
    }
    /* TEAM */


    /* EMAIL-FIELD */
    .email-field__inner {
        padding: 60px 0px 55px;
    }
    .email-field__title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .email-field__text {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .email-field__item {
        max-width: 400px;
    }
    /* EMAIL-FIELD */


    /* Footer */
    .page {
        padding-bottom: 220px;
    }
    .footer {
        height: 220px;
    }
    .footer__inner {
        margin: 30px 0 32px;
    }
    .footer__text {
        margin: 16px 0 20px;
    }
    /* Footer */

    /* BUTTON-UP */
    #button-up {
        right: 15px;
        bottom: 15px;			
        font-size: 26px;
    }
    #button-up i {
        padding: 10px 11px;
        margin-bottom: 0.5px;
    }
    /* BUTTON-UP */


}


@media (max-width:700px){
    .tabs .nav-pills .nav-item:last-child {
        margin-right: 10px;
    }
    .tabs .nav-pills .nav-item:first-child {
        margin-left: 10px;
    }
}

@media (max-width:600px){
    /* HEADER */
    .header__menu .menu__list li a {
        font-size: 20px;
        padding: 10px;
    }
    .header__menu {
        padding: 130px 0 0;
    }
    .header {
        padding: 20px 0 0px;
      }
    /* HEADER */


    /* HEADER-SLIDER */
    .header-slider__title-small {
        font-size: 50px;
        line-height: 130px;
    }
    .header-slider__title-big {
        font-size: 133px;
        line-height: 270px;
    }
    #carousel-main .owl-nav .owl-prev, #carousel-main .owl-nav .owl-next {
        top: -280px;
    }
    .header-slider__shadow {
        max-width: 500px;
        padding: 110px 0;
    }
    .header-slider__inner {
        padding: 200px 0px 65px;
    }
    /* HEADER-SLIDER */

    /* SLOGAN */
    .slogan__inner {
        padding: 35px 0 60px; 
    }
    .casual-title {
        font-size: 30px;
        line-height: 40px;
    }
    /* SLOGAN */

    /* PORTFOLIO-CAPTION */
    .portfolio-caption__inner {
        padding: 35px 0 45px;
    }
    .casual-text {
        font-size: 14px;
        margin-top: 7px;
    }
    /* PORTFOLIO-CAPTION */


    /* TABS */
    .tabs .nav {
        padding-bottom:  30px;
    }
    .tabs .nav-pills .nav-link {
        padding: 9px 27px 7px;
    }
    .tabs .nav-pills .nav-item:last-child {
        margin-right: 0px;
    }
    .tabs .nav-pills .nav-item:first-child {
        margin-left: 0px;
    }
    /* TABS */

    /* GALLERY */
    .gallery__column--first,
    .gallery__column--second {
        width: 80%;
    }
    .gallery__column--first .text-hidden--small,
    .text-hidden--big,
    .text-hidden--small,
    .gallery__column--first .text-hidden--small {
        max-width: 285px;
    }
    .text-hidden__title {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .text-hidden__text {
        margin-bottom: 15px;
    }
    .gallery__column--second .text-hidden--small .text-hidden__title {
        font-size: 21px;
    }
    /* GALLERY */

    /* SERVICE-CAPTION */
    .service-caption__inner {
        padding: 45px 0 40px;
    }
    /* SERVICE-CAPTION */

    /* TEAM-CAPTION */
    .team-caption__inner {
        padding: 40px 0 45px;
    }
    /* TEAM-CAPTION */

    /* EMAIL-FIELD */
    .email-field__inner {
        padding: 50px 0px 40px;
    }
    .email-field__title {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .email-field__text {
        margin-bottom: 25px;
    }
    .email-field__item {
        margin-right: 0px;
        margin-bottom: 15px;
    }
    /* EMAIL-FIELD */


    /* Footer */
    .page {
        padding-bottom: 193px;
    }
    .footer {
        height: 193px;
    }
    .footer__inner {
        margin: 25px 0 27px;
    }
    .footer__text {
        margin: 10px 0 10px;
    }
    /* Footer */

}
@media (max-width:575px) {
    /* HEADER */
    .header__inner .row div:nth-child(3) {
        margin-top: -47px;
    }
    /* HEADER */
}
@media (max-width:500px){

    /* GALLERY */
    .gallery__column--first,
    .gallery__column--second {
        width: 90%;
    }
    /* GALLERY */

    /* PROJECTS */
    .projects__inner {
        padding-bottom: 37px;
    }
    .projects__box {
        margin-bottom: 20px;
        padding: 55px 0 30px;
    }
    /* PROJECTS */

    /* CLIENT-SLIDER */
    .client-slider__inner {
        padding: 50px 0;
    }
    .client-slider__title {
        font-size: 30px;
        margin-bottom: 14px;
    }
    .client-slider__text {
        margin-bottom: 35px;
    }
    #carousel-client .owl-dots {
        margin-top: 43px;
    }
    /* CLIENT-SLIDER */

    /* TEAM */
    .team__item {
        margin-bottom: 25px;
    }
    .team__inner{
        padding-bottom: 40px;
    }
    .team__name-worker {
        margin: 15px 0 12px;
    }
    .team__about-worker {
        padding-bottom: 16px;
    }
    .team__box-icon {
        padding-bottom: 15px;
    }
    /* TEAM */

    

}

@media (max-width:470px){
    .search-bar__text:focus {
        width: 190px;
    }



    /* HEADER-SLIDER */
    .header-slider__title-small {
        font-size: 40px;
    line-height: 130px;
    }
    .header-slider__title-big {
        font-size: 100px;
        line-height: 207px;
    }
    .header-slider__shadow {
        max-width: 300px;
        padding: 78px 0;
    }
    .header-slider__inner {
        padding: 150px 0px 30px;
    }
    #carousel-main .owl-dot {
        outline: none;
    }
    #carousel-main .owl-dot span {
        display: block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 100%;
        background: #ffffff;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
    }
    #carousel-main .owl-dot:last-child span {
        margin-right: 0px;
    }
    #carousel-main .owl-dot span:hover, 
    #carousel-main .owl-dot.active span {
        background: #858585;
    }
    #carousel-main .owl-dots {
        display: flex;
        justify-content: center;
    }
    /* HEADER-SLIDER */



    /* GALLERY */
    .gallery__column--first .text-hidden--small,
    .text-hidden--big,
    .text-hidden--small,
    .gallery__column--first .text-hidden--small {
        max-width: 250px;
    }
    .text-hidden__title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .text-hidden__text {
        font-size: 13px;
        margin-bottom: 10px;
        line-height: 20px;
    }
    .text-hidden__btn {
        padding: 7px 0px;
    }
    .gallery__column--second .text-hidden--small .text-hidden__title {
        font-size: 20px;
    }
    /* GALLERY */
    


    /* ACHIEVEMENTS */
    .achievements__inner {
        padding: 50px 0 10px;
    }
    .achievements__box-img {
        margin-bottom: 8px;
    }
    .achievements__amount {
        font-size: 42px;
        margin-bottom: 0px;
    }
    .achievements__type {
        font-size: 16px; 
    }
    .achievements__item {
        margin-bottom: 45px; 
    }
    /* ACHIEVEMENTS */

    /* EMAIL-FIELD */
    .email-field__inner {
        padding: 45px 0px 35px;
    }
    /* EMAIL-FIELD */

}

@media (max-width:370px) {
    /* HEADER-SLIDER */
    .header-slider__title-small {
        font-size: 38px;
    line-height: 125px;
    }
    .header-slider__title-big {
        font-size: 92px;
        line-height: 200px;
    }
    .header-slider__shadow {
        padding: 70px 0;
    }
    .header-slider__inner {
        padding: 130px 0px 20px;
    }
    /* HEADER-SLIDER */


    /* GALLERY */
    .text-hidden__text {
        font-size: 13px;
        margin-bottom: 6px;
        line-height: 19px;
    }
    /* GALLERY */


}